[package]
name = "soar"
version = "0.1.0"
edition = "2021"

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
anyhow = "1.0.89"
blake3 = "1.5.4"
clap = { version = "4.5.19", features = ["derive"] }
console = "0.15.8"
futures = "0.3.30"
indicatif = "0.17.8"
reqwest = { version = "0.12.8", features = ["blocking", "stream"] }
rmp-serde = "1.3.0"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
tokio = { version = "1.40.0", features = ["macros", "rt-multi-thread"] }
xattr = { version = "1.3.1", default-features = false }
